<h1><%= @tea.name %></h1>
<a href="/teas">Home</a> | <a href="/user/<%= @user.id %>">View Your Tea Collection</a> | <a href="/teas/new">Create New Tea Entry</a>
<hr>
<p>Type: <%= @tea.kind %></p>
<p>Purchase Date: <%= @tea.purchase_date %></p>
<p>Brew Time: <%= @tea.brew_time %></p>
<p>Brew Temperature: <%= @tea.temperature %></p>
<p>Grams per Serving: <%= @tea.servings %></p>

<a href="/teas/<%= @tea.id %>/edit">Edit Entry</a>
