<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Teas - Tea Tracker</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <div id="page">
        <center><h2>Welcome, <%= current_user.username %>!</h2>
        <a href="/teas">Home</a> | <a href="/users/<%= current_user.id %>">View Your Tea Collection</a> | <a href="/teas/new">Create New Tea Entry</a> | <a href="/logout">Log Out</a></center>
        <hr>
        <% if flash.has?(:message) %>
          <p><font color="red"><em><%= flash[:message] %></em></font></p>
        <% end %>
        <h3>Here's what other people have been drinking lately!</h3>
        <ol>
          <% @teas.reverse.first(15).each do |tea| %>
            <li><a href="/teas/<%= tea.id %>"><%= tea.name %></a></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</body>
</html>
