<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Your Teas - BrewTeaful</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <div id="page">
        <center><h2><%= @user.username %>'s Teas</h2>
        <a href="/teas">Home</a> | <a href="/users/<%= @user.id %>">View Your Tea Collection</a> | <a href="/teas/new">Create New Tea Entry</a> | <a href="/logout">Log Out</a></center>
        <hr>
        <ol>
        <% @users_teas.each do |tea| %>
         <li><a href="/teas/<%= tea.id %>"><%= tea.name %> <%="| Purchased #{tea.purchase_date}" if tea.purchase_date %></a></li>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</body>
</html>
